.home-layout-wrp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-layout-content-wrp {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.home-layout-content-inner-wrp {
  display: flex;
  margin: 15px;
  position: relative;
}
.home-layout-content {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.home-layout-content-menu-left-wrp {
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  margin-right: 2px;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.home-layout-content-menu-right-wrp {
  width: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  margin-left: 6px;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.home-layout-content-menu-left-wrp:hover {
  background-color: #f7f7f7;
}
.home-layout-content-menu-left-wrp.open,
.home-layout-content-menu-right-wrp.open {
  width: 200px;
}
.ribbon-menu {
  width: 156px;
  height: 35px;
  background-color: red;
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(212, 212, 212, 1) 0%,
    rgba(255, 255, 255, 1) 12%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );

  box-shadow: 1px 2px 1px #f2f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}
