.note-widgets-wrp {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 999;
}
.note-widgets-container {
  position: relative;
}
.note-widgets {
  /* position: fixed; */
  right: 0;
  top: 30%;
  border-right: none;
  width: 40px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 25px;
  z-index: 999;
  background-color: #a14db7;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
}

.code-sidekick-widgets {
  position: fixed;
  right: 0;
  top: 46%;
  border-right: none;
  width: 40px;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 25px;
  z-index: 999;
  background-color: #7d4db7;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
}
.note-icon {
  transform: rotate(-180deg);
  margin-right: 8px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.code-icon {
  transform: rotate(-180deg);
  margin-right: 8px;
  position: absolute;
  left: 12px;
  bottom: 13px;
}
.note-title {
  position: absolute;
  top: 54px;
  transform: rotate(-90deg);
  font-size: 14px;
  white-space: nowrap;
  width: 40px;
}
.draggable {
  position: absolute;
  cursor: move;
  display: flex;
  width: 40px;
  -webkit-user-select: none;
  user-select: none;
  right: 0;
  top: 50%;
}
